/** @format */

.album-img {
  border-radius: 25px;
}

a {
  color: rgb(131, 232, 227) !important;
}

a:hover {
  color: rgb(84, 79, 79) !important;
}
.box {
  position: relative;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.box::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.box:hover {
  transform: scale(1.1, 1.1);
  border-radius: 20px !important;
}

.box:hover::after {
  opacity: 1;
}

.row-pad {
  padding-left: 2rem;
  padding-right: 2rem;
}
.box-img {
  width: 160px;
  height: 160px;
}
