/** @format */

.song-section {
  align-items: baseline !important;
}

.playlist {
  align-items: baseline !important;
}

@media (max-width: 600px) {
  .card-title {
    padding-left: 10px !important;
    padding-right: 0 !important;
  }
  .song-section {
    font-size: 17px !important;
  }
  .duration {
    padding: 0 !important;
  }
}
